<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>

    <%- include('./partials/head') %>
        <style>
            .question-list::-webkit-scrollbar {
                display: none;
            }

            .answer-scroll::-webkit-scrollbar {
                display: none;
            }

            #answer p, ul, li {
                margin-bottom: 10px; /* Adjust as needed */
            }

            .answer {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                display: flex;
                flex-direction: column;
            }

            .answer p {
                margin-bottom: 10px;
            }

            .answer strong {
                color: #333;
            }

            .answer ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                /* Remove bullet points */
                /* padding-left: 5px; */
                /* Remove default padding */
                /* margin-bottom: 20px; */
                /* Increase spacing between sections */
            }

            .answer li {
                margin: 0;
                padding: 0;
                /* margin-bottom: 5px; */
            }

            .answer code {
                display: inline-block;
                padding: 8px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background-color: #f5f5f5;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin-bottom: 10px;
                /* Add some space below code blocks */
            }
        </style>
</head>

<body>
    <%- include('./partials/nav') %>
        <% if(locals.user) {%>
            <div class="container mt-4 d-flex">
                <div class="row row-cols-1 row-cols-md-2 g-4" style="width: 100%;">
                    <div class="col" style="width: 30%; height: 80vh; min-height: 80vh;">
                        <div class="card" style="height: 80vh; ">
                            <div class="card-body" style="height: 7vh;">
                                <h5 class="card-title">Recent Questions</h5>
                            </div>
                            <div class="card-body question-list" style="overflow: auto; height: 73vh;">
                                <% if(locals.chats) {%>
                                    <% chats.forEach(chat=> { %>
                                        <div class="card mb-2 border-black chat-data">
                                            <div class="card-body chats-list btn btn-outline-dark question"
                                                id="<%= chat._id %>"
                                                style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                <%= chat.question %>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="width: 70%;">
                        <div class="card" style="height: 80vh;">
                            <div class="card-body">
                                <div class="card "
                                    style="height: 90%; max-height: 90%; min-height: 90%; overflow: hidden;">
                                    <!-- <div class="card-header bg-dark  d-flex flex-row">
                                        <button class="btn text-white" onclick="copyTextContent()"><i
                                                class="fa-regular fa-copy"></i>
                                            copy</button>
                                        <div id="copyMessage" class="text-white visually-hidden mt-2 ms-5">Text content
                                            has been
                                            copied to clipboard</div>
                                    </div> -->
                                    <div class="card-body answer-scroll "
                                        style="height:500px; max-height: 500px; overflow: auto; -ms-overflow-style: none; scrollbar-width: none;">
                                        <% if(locals.question) {%>
                                            <div style="white-space: pre-line; word-break: break-word; margin-bottom: 0; padding-bottom: 0; "
                                                class="card-text d-flex flex-row">
                                                <img src="/images/user.png" class="rounded" alt="..."
                                                    style="width: 40px; height: 40px; margin-right: 10px;">

                                                <div class="p-3 mb-2 shadow btn-outline-dark bg-white text-dark rounded question-response"><%- question %></div>
                                            </div>
                                            <% } %>
                                                <% if(locals.answer) {%>
                                                    <div style="white-space: pre-line; word-break: break-word; margin-bottom: 0; padding-bottom: 0; "
                                                        class="card-text answer d-flex flex-row">
                                                        <img src="/images/robot.jpg" class="rounded" alt="..."
                                                            style="width: 40px; height: 40px; margin-right: 10px;">
                                                        <div class="p-3 mb-2 shadow btn-outline-dark bg-white text-dark rounded answer-response"><div id="answer" style="white-space: pre-line; line-height: 1.5;"><%- answer %></div><span><button type="button"
                                                                        onclick="copyAnswer()" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy"><i
                                                                            class="fa-solid fa-copy"></i></button></span><span><button
                                                                        type="button" onclick="regenerateAnswer()"
                                                                        class="btn ms-1" data-toggle="tooltip" data-placement="bottom" title="Regenerate"><i
                                                                            class="fa-solid fa-arrows-rotate"></i></button></span>
                                                        </div>

                                                    </div>
                                                    <% } %>
                                    </div>
                                </div>
                                <% if(locals.user) { %>
                                    <form method="POST" action="/chat">
                                        <div class="input-group mt-3">
                                            <input type="text" name="question" class="form-control rounded"
                                                placeholder="Enter your question...." required>
                                            <button class="input-group-text ms-2 rounded bg-dark text-white"><i
                                                    class="fa-regular fa-paper-plane"></i></button>
                                        </div>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else { %>

                    <div class="container mt-4 d-flex">
                        <h1>
                            Welcome to Nyayak, Please sign in to proceed.
                        </h1>
                    </div>

                    <% } %>
                        <%- include('./partials/scripts') %>
                            <script>
                                let copy = document.querySelector('.fa-copy');
                                const copyAnswer = () => {
                                    var answer = document.querySelector('.answer');
                                    var textContent = answer.textContent || answer.innerText;

                                    // Create a temporary textarea element to copy the content
                                    var textarea = document.createElement('textarea');
                                    textarea.value = textContent;

                                    // Append the textarea to the body and select its content
                                    document.body.appendChild(textarea);
                                    textarea.select();

                                    // Copy the selected content
                                    document.execCommand('copy');

                                    // Remove the textarea from the body
                                    document.body.removeChild(textarea);

                                    // Hide the copy message after 5 seconds
                                    copy.classList.remove('fa-regular', 'fa-copy')
                                    copy.classList.add('fa-solid', 'fa-check')
                                    setTimeout(function () {
                                        copy.classList.remove('fa-solid', 'fa-check')
                                        copy.classList.add('fa-regular', 'fa-copy')

                                    }, 1000);
                                }

                                let question = document.querySelector('.question-response')

                                let answer = document.querySelector('#answer')

                                let regenerate = document.querySelector('.fa-arrows-rotate')

                                let payload = {
                                    question: question.textContent.trim(),
                                    chatId: window.location.pathname.split('/')[2],
                                }

                                let regenerateAnswer = () => {
                                    regenerate.classList.add('fa-spin')
                                    fetch('/chat/regenerate', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(payload),
                                    }).then(response => response.json())
                                    .then(data => {
                                        answer.innerHTML = data.answer;
                                        regenerate.classList.remove('fa-spin')
                                    })
                                    .catch(error => {
                                        console.error("Error submitting form:", error);
                                    });
                                }

                                var questionList = document.querySelector('.question-list')
                                const currentURL = window.location.href;
                                const domain = new URL(currentURL).origin;
                                console.log(domain);
                                questionList.addEventListener('click', (e) => {
                                    
                                    if (e.target.classList.contains("question")) {
                                        var link = `${domain}/chat/${e.target.id}`;
                                        window.location.href = link;
                                    }
                                });
                            </script>
</body>

</html>